<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="user" class="xcu.entity.User">
        <property name="id" value="1" />
        <property name="username" value="zhangsan" />
        <property name="password" value="xcu2023" />
    </bean>
    <bean id="userDao" class="xcu.dao.impl.UserDaoimpl">
        <property name="user" ref="user" />
    </bean>
</beans>